<div class="container">
    <h1>Edit Form</h1>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit(user.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" formControlName="title"  [(ngModel)]="title"  required>                
        <div *ngIf="editForm.get('title').errors && editForm.get('title').dirty">
          <p *ngIf="editForm.get('title').hasError('required')">Campo Requerido</p>
        </div>
      </div>
      <button class="btn btn-success"
       type="submit" [disabled]="editForm.invalid">Submit</button>
    </form>
    <p>
      Form Status: {{ editForm.status }}
    </p>
</div>