<div class="container">
  <button type="button" class="btn btn-primary mb-4" (click)="handleNewTicket()">
    Create Item
  </button>
  <div class="modal fade" [ngClass]="{'modal-show show': showModal}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
          <button type="button" class="close"  (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" required minlength="3" formControlName="title" required>
              <div *ngIf="userForm.get('title').errors && userForm.get('title').dirty">
                <p *ngIf="userForm.get('title').hasError('required')">Campo Requerido</p>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" type="submit" [disabled]="userForm.invalid">Submit
              </button>
            </div>
          </form>
          <span>
            Form Status: {{ userForm.status }}
          </span>
        </div>
      </div>
    </div>
  </div>
<div class="container mb-3">
    <div class="form-group">
            <input class="form-control mr-sm-2" type="search" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
    </div>
</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | filter:filterPost">
            <td>{{user.id}}</td>
            <td>{{user.title}}</td>
        <td><button type="submit" class="btn btn-primary" (click)="updateUser(user, $event)"><i class="material-icons">
              update
            </i></button></td>
        <td><button type="submit" (click)="onDelete(user.id)" class="btn btn-danger"><i class="material-icons">
              delete
            </i></button></td>
      </tr>
    </tbody>
  </table>
</div>